@using Railwind.Common.Enums
@using Railwind.Common.Extensions
@using Railwind.Enums
@inherits Railwind.Common.RailwindBaseComponent

<span class="@BadgeClassName">@ChildContent</span>

@code {
    [Parameter] public required RenderFragment ChildContent { get; set; } = null!;
    
    private string BadgeClassName => ClassName(css =>
    {
        css.Add(Rounded.ToClassName(), MyShapeVariant == Common.Enums.ShapeVariant.Default);
        css.Add("inline-flex items-center");
        css.Add(MyColor.ToBackgroundColorWeight400WithOpacity10());
        css.Add($"px-2 py-1 text-xs font-medium {MyColor.ToTextColorWeight400()}");
        css.Add($"ring-1 {MyColor.ToRingColorWeight400WithOpacity20()} ring-inset");
    });

}