@using Railwind.Common.Enums
@using Railwind.Common.Extensions
@using Railwind.Enums
@inherits Railwind.Common.RailwindBaseComponent

<span class="@BadgeClassName">@ChildContent</span>

@code {
    [Parameter] public required RenderFragment ChildContent { get; set; } = null!;

    [Parameter] public ColorVariant ColorVariant { get; set; } = ColorVariant.Primary;

    [Parameter] public Colors? Color { get; set; }

    private Colors ComponentColor => Color ?? ThemeProvider?.GetColorByVariant(ColorVariant) ?? Colors.Gray;

    private string BadgeClassName => ClassName(css =>
    {
        css.Add(ThemeProvider?.Rounded.ToClassName() ?? string.Empty, ThemeProvider is { ShapeVariant: ShapeVariant.Rounded });
        css.Add("inline-flex items-center");
        css.Add(ComponentColor.ToBackgroundColorWeight400WithOpacity10());
        css.Add($"px-2 py-1 text-xs font-medium {ComponentColor.ToTextColorWeight400()}");
        css.Add($"ring-1 {ComponentColor.ToRingColorWeight400WithOpacity20()} ring-inset");
    });

}