@using Railwind.Common.Extensions
@using Railwind.Enums
@inherits Railwind.Common.RailwindBaseComponent

<div class="@BannerClassName">
  @ChildContent
</div>


@code {
  [Parameter] public RenderFragment? ChildContent { get; set; }
  
  private string BannerClassName => ClassName(css =>
  {
    css.Add("flex w-full px-6 py-2.5 sm:px-3.5");
    css.Add(MyColor.ToBackgroundColorWeight500());
  });

}