@using Railwind.Common.Enums
@using Railwind.Common.Extensions
@inherits Railwind.Common.RailwindBaseComponent

<div class="@WrapperClassName" @onclick="HandleClicked">
    @if (Header is not null)
    {
        <div class="px-4 py-5 sm:px-6">
            @Header
        </div>
    }
    <div class="px-4 py-5 sm:p-6">
        @if (Body is not null)
        {
            @Body
        }
        @if (ChildContent is not null)
        {
            @ChildContent
        }
    </div>
    @if (Footer is not null)
    {
        <div class="px-4 py-4 sm:px-6">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public EventCallback OnClicked { get; set; }
    [Parameter] public Rounded Rounded { get; set; } = Rounded.Lg;

    private string WrapperClassName => ClassName(css =>
    {
        css.Add($"divide-y divide-gray-200 dark:divide-stone-800 overflow-hidden bg-white dark:bg-stone-900 shadow {Rounded.ToClassName()}");
        css.Add("cursor-pointer dark:hover:bg-stone-800 hover:bg-gray-200", OnClicked.HasDelegate);
    });

    private async Task HandleClicked()
    {
        if (OnClicked.HasDelegate)
        {
            await OnClicked.InvokeAsync();
        }
    }

}