@using Railwind.Common.Enums
@using Railwind.Common.Extensions
@inherits Railwind.Common.RailwindBaseComponent

<div class="@WrapperClassName" @onclick="HandleClicked">
    @if (Header is not null)
    {
        <div class="rw-px-4 rw-py-5 sm:rw-px-6">
            @Header
        </div>
    }
    <div class="rw-px-4 rw-py-5 sm:rw-p-6">
        @if (Body is not null)
        {
            @Body
        }
        @if (ChildContent is not null)
        {
            @ChildContent
        }
    </div>
    @if (Footer is not null)
    {
        <div class="rw-px-4 rw-py-4 sm:rw-px-6">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public EventCallback OnClicked { get; set; }
    [Parameter] public Rounded Rounded { get; set; } = Rounded.Lg;

    private string WrapperClassName => ClassName(css =>
    {
        css.Add($"rw-divide-y rw-divide-gray-200 rw-overflow-hidden rw-bg-white dark:rw-bg-gray-900 rw-shadow {Rounded.ToClassName()}");
        css.Add("rw-cursor-pointer dark:hover:rw-bg-gray-800 hover:rw-bg-gray-200", OnClicked.HasDelegate);
    });

    private async Task HandleClicked()
    {
        if (OnClicked.HasDelegate)
        {
            await OnClicked.InvokeAsync();
        }
    }

}