<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    @if (Header is not null)
    {
        <div class="px-4 py-5 sm:px-6">
            @Header
        </div>
    }
    <div class="px-4 py-5 sm:p-6">
        @if (Body is not null)
        {
            @Body
        }
        @if (ChildContent is not null)
        {
            @ChildContent
        }
    </div>
    @if (Footer is not null)
    {
        <div class="px-4 py-4 sm:px-6">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Body { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
}