@using Railwind.Common.Extensions
@inherits Railwind.Common.RailwindBaseComponent

@if (IsLoading)
{
    @if (LoadingContent != null)
    {
        @LoadingContent
    }
    else
    {
        <div class="w-full h-3/6 flex flex-col items-center justify-center">
            @* <div class="@LoadingClass"></div> *@
            <svg class="@IconClassName" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor"
                      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <p class="@TextClassName">@LoadingMessage</p>
        </div>
    }
}
else
{
    @if (Content != null)
    {
        @Content
    }
    else
    {
        @ChildContent
    }
}

@code {

    [Parameter] public string OveridingClass { get; set; } = String.Empty;

    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? LoadingContent { get; set; }
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public string LoadingTextSize { get; set; } = "text-4xl";
    [Parameter] public string LoadingMessage { get; set; } = "Loading";
    [Parameter] public string LoadingClass { get; set; } = "spinnerloader";

    private string IconClassName => ClassName(css =>
    {
        css.Add("mr-3 -ml-1 h-10 w-10 animate-spin");
        css.Add(MyColor.ToTextColorWeight600());
        css.Add("w-full", string.IsNullOrWhiteSpace(OveridingClass));
        css.Add(OveridingClass, !string.IsNullOrWhiteSpace(OveridingClass));
    });

    private string TextClassName => ClassName(css =>
    {
        css.Add("text-slate-200 font-bold mt-4");
        css.Add(LoadingTextSize);
    });

}