<button type="@ButtonType"
        @onclick="HandleOnClicked"
        class="rounded bg-indigo-500 text-white ring-0 ring-indigo-700 px-2 py-1 text-sm font-semibold shadow-xs hover:bg-indigo-600">
    @Text
</button>

@code {

    [Parameter] public EventCallback OnClicked { get; set; }
    [Parameter, EditorRequired] public string Text { get; set; } = string.Empty;
    [Parameter] public bool IsSubmit { get; set; } = false;

    private string ButtonType => IsSubmit ? "submit" : "button";

    private async Task HandleOnClicked()
    {
        if (OnClicked.HasDelegate)
            await OnClicked.InvokeAsync();
    }

}