@using Railwind.Common.Enums.Tailwind
@inherits Railwind.Common.RailwindBaseComponent

<div class="@SpacerClassName">
</div>

@code {

    [Parameter] public Sizing Size { get; set; } = Sizing.Sm;
    [Parameter] public bool HasBottomBorder { get; set; } = false;

    private string SpacerClassName => ClassName(css =>
    {
        switch (Size)
        {
            case Sizing.FourXl:
                css.Add("my-20");
                break;
            case Sizing.Xl:
                css.Add("my-10");
                break;
            case Sizing.Lg:
                css.Add("my-8");
                break;
            case Sizing.Md:
                css.Add("my-4");
                break;
            case Sizing.Sm:
                css.Add("my-2");
                break;
            case Sizing.Xs:
                css.Add("my-1");
                break;
        }

        css.Add("border-b border-neutral-800", HasBottomBorder);
    });

}